@import "../../../styles/utils/variables";

.activity {
  width: 70%;
  height: 320px;
  border-radius: 5px;
  background-color: $color-background-1;
  margin-bottom: 30px;
}
.xAxis, .yAxis{
  color: $color-background-2;
}

