@import "../../../../styles/utils/variables";
@import "../../../../styles/utils/mixins";

.legend {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 25px;
  h2 {
    color: $color-secondary;
    font-size: 15px;
    line-height: 24px;
  }
  &Items {
    display: flex;
  }
  &Item {
    margin-right: 35px;
    display: flex;
    align-items: center;
  }
  &Color {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 10px;
    aspect-ratio: 1/1;
  }
  &Label {
    color: $color-chart-tertiary;
  }
  @include display-mobile {
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 15px;
    h2{
      margin-bottom: 10px;
    }
    &Item {
      margin-right: 10px;
    }
    &Color {
      margin-right: 5px;
    }
    &Label {
      font-size: 12px;
    }
  }
}
.sessions {
  width: 50%;
  height: 100px;
  margin-top: 30px;
  margin-left: 30px;
  h2 {
    color: $color-background-2;
    line-height: 24px;
    font-size: 15px;
    opacity: 0.5;
  }
}
.score {
  height: 20px;
  margin-top: 30px;
  margin-left: 30px;
  h2 {
    color:#20253a;
    line-height: 24px;
    font-size: 15px;
  }
}
