@import "../../styles/utils/variables";

.root {
  margin-left: 5%;
  padding-top: 90px;
  padding-left: 115px;
  h1 {
    margin-top: 70px;
    margin-bottom: 40px;
    color: $color-secondary;
    span {
      color: $color-primary;
    }
  }
}
.error {
  margin-left: 5%;
  padding-top: 90px;
  padding-left: 115px;
  h1 {
    margin-top: 70px;
    margin-bottom: 40px;
    color: $color-primary;
  }
}