$color-primary: #ff0101;
$color-secondary: #000000;
$color-tertiary: #e5e5e5;
$color-background-1:#fbfbfb;
$color-background-2:#ffffff;
$color-background-3:#ff0000;

$color-chart-primary: #282d30;
$color-chart-secondary: #e60000;
$color-chart-tertiary: #74798c;


$breakpoints : (
    desktop: 1024px,
    tablet: 767px,
    mobile: 320px,
);